.GameBoard {
    background-color: rgba(113, 153, 189, 0.4);
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
    position: absolute;
    top: 30%;
    left: 20%;
    box-shadow: 1px 5px 10px 1px;
    border-radius: 16px;
    padding: 8px;
}

.GameBoardLose {
    background-color: rgba(216, 46, 69, 0.63);
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
    position: absolute;
    top: 30%;
    left: 20%;
    box-shadow: 1px 5px 10px 1px;
    border-radius: 16px;
    padding: 8px;
    animation-name: shake;
    animation-duration: 1s;
    transition: all 1s ease-in-out;
}

.GameBoardStageTwo {
    background-color: rgba(113, 153, 189, 0.4);
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    position: absolute;
    top: 30%;
    left: 14%;
    box-shadow: 1px 5px 10px 1px;
    border-radius: 16px;
    padding: 8px; 
}

.GameBoardStageTwoLose {
    background-color: rgba(216, 46, 69, 0.63);
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw  10vw 10vw 10vw;
    position: absolute;
    top: 30%;
    left: 14%;
    box-shadow: 1px 5px 10px 1px;
    border-radius: 16px;
    padding: 8px;
    animation-name: shake;
    animation-duration: 1s;
    transition: all 1s ease-in-out;
}

.Card {
    height: 20vh;
    border-radius: 8px;
    cursor: pointer;
}

.Image {
    height: 100%;
    width: 100%;
}
.ImageMoving {
    height: 100%;
    width: 100%;
    animation-iteration-count: infinite;
}.ImageMoveUp {
    height: 100%;
    width: 100%;
    animation-name: moveUp;
    animation-iteration-count: infinite;
}.ImageMoveDown {
    height: 100%;
    width: 100%;
    animation-name: moveDown;
    animation-iteration-count: infinite;
}.ImageMoveRight {
    height: 100%;
    width: 100%;
    animation-name: moveRight;
    animation-iteration-count: infinite;
}.ImageMoveLeft {
    height: 100%;
    width: 100%;
    animation-name: moveLeft;
    animation-iteration-count: infinite;
}


@keyframes shake {
    0% {
        transform: translate(0px, 0);
    }
    20% {
        transform: translate(-100px, 0);
    }
    40% {
        transform: translate(100px, 0);
    }
    60% {
        transform: translate(-100px, 0);
    }
    80% {
        transform: translate(100px, 0);
    }
    100% {
        transform: translate(0px, 0);
    }
}

@keyframes moveUp {
    0% {
        transform: translate(0px, 0);
    }
    50% {
        transform: translate(0px, -150px);
    }
    100% {
        transform: translate(0px, 0);
    }
}
@keyframes moveDown {
    0% {
        transform: translate(0px, 0);
    }
    50% {
        transform: translate(0px, 150px);
    }
    100% {
        transform: translate(0px, 0);
    }
}
@keyframes moveRight {
    0% {
        transform: translate(0px, 0);
    }
    50% {
        transform: translate(150px, 0);
    }
    100% {
        transform: translate(0px, 0);
    }
}
@keyframes moveLeft {
    0% {
        transform: translate(0px, 0);
    }
    50% {
        transform: translate(-150px, 0);
    }
    100% {
        transform: translate(0px, 0);
    }
}