.WorldMap {
    display: grid;
    grid-template-columns: 50% 50%;
}

.WorldMap div {
    width: 100%;
    height: 50vh;
    transition: ease 3.0s;
}

.StageOne {
    background-image: url('../../reusables/Images/StageOne.png');
    background-size: 100% 100%;
    cursor: pointer;
}
.StageTwo {
    background-image: url('../../reusables/Images/StageTwo.png');
    background-size: 100% 100%;
    cursor: pointer;
}
.StageThree {
    background-image: url('../../reusables/Images/StageThree.png');
    background-size: 100% 100%;
    cursor: pointer;
}
.StageFour {
    background-image: url('../../reusables/Images/StageFour.png');
    background-size: 100% 100%;
    cursor: pointer;
}



.StageOne:hover {
    transform: scale(1.3); 
}
.StageTwo:hover {
    transform: scale(1.3); 
}
.StageThree:hover {
    transform: scale(1.3); 
}
.StageFour:hover {
    transform: scale(1.3); 
}