.WorldMap {
    display: grid;
    grid-template-columns: 50% 50%;
}

.WorldMap div {
    width: 100%;
    height: 50vh;
    transition: ease 3.0s;
}

.StageOne {
    background-image: url('../../reusables/Images/StageOne.png');
    background-size: 100% 100%;
}
.StageTwo {
    background-image: url('../../reusables/Images/StageTwo.png');
    background-size: 100% 100%;
}
.StageThree {
    background-image: url('../../reusables/Images/StageThree.png');
    background-size: 100% 100%;
}
.StageFour {
    background-image: url('../../reusables/Images/StageFour.png');
    background-size: 100% 100%;
}



.StageOne:hover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('../../reusables/Images/StageOne.png');
    background-size: 100% 100%;
}